<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/favicon.png') }}">
    <title>{% block title %}Home{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('assets/css/lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/helper.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

</head>

<body class="fix-header mini-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>

<div id="main-wrapper">
    <div class="header">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <b><img src="{{ asset('assets/images/logo.png') }}" alt="homepage" class="dark-logo" /></b>
                </a>
            </div>
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto mt-md-0">
                    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                    <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                </ul>
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{  app.user.firstname|capitalize  }} {{  app.user.lastname|capitalize  }} <img src="{{ asset('assets/images/users/profile.png') }}" alt="user" class="profile-pic" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                            <ul class="dropdown-user">
                                <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li><a href="{{ logout_path() }}"><i class="fa fa-power-off"></i> Logout</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="left-sidebar">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li>
                        {#<a href="{{ path('home') }}" aria-expanded="false">#}
                        <a href="#" aria-expanded="false">
                            <i class="fa fa-home"></i>
                            <span class="hide-menu">Acceuil</span>
                        </a>
                    </li>
                    <li>
                        {#<a href="{{ path('users') }}" aria-expanded="false">#}
                        <a href="" aria-expanded="false">
                            <i class="fa fa-users"></i>
                            <span class="hide-menu">Utilisateurs</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">{% block page_title %}{% endblock %}</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    {% block root %}{% endblock %}
                </ol>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>

        <div class="container-fluid">
            <footer> © 2018 All rights reserved. Developed by <a href="https://github.com/wiselh">Wiselh</a></footer>
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/lib/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/lib/bootstrap/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/lib/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.slimscroll.js') }}"></script>
<script src="{{ asset('assets/js/sidebarmenu.js') }}"></script>
<script src="{{ asset('assets/js/lib/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
{% block javascripts %}{% endblock %}
<script src="{{ asset('assets/js/custom.min.js') }}"></script>

</body>

</html>